<div class="customs sharing social-links">
    <div class="sharing-label madi-label">FOLLOW US</div>
    <ul class="sharing-list">

        <li class="instagram">
            <a class="sharing-link" target="_blank" rel="noopener" href="https://www.instagram.com/solvelabs.world/">
              <span aria-hidden="true">
                 {% comment %}
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                    <path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
                    </svg>
                {% render 'svg-instagram' %} {% endcomment %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
            </span>
              <span class="visually-hidden">follow us on instagram</span>
            </a>
          </li>
      
        {% if share_image %} 
      <li class="facebook">
        <a class="sharing-link" target="_blank" rel="noopener" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
          <span aria-hidden="true">{% render 'svg-facebook' %}</span>
          <span class="visually-hidden">{{ 'general.social.share_on_facebook' | t }}</span>
        </a>
      </li>
      <li class="twitter">
        <a class="sharing-link" target="_blank" rel="noopener" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
          <span aria-hidden="true">{% render 'svg-twitter' %}</span>
          <span class="visually-hidden">{{ 'general.social.share_on_twitter' | t }}</span>
        </a>
      </li>
      <li class="reddit">
        <a class="sharing-link" target="_blank" rel="noopener" href="//reddit.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
          <span aria-hidden="true">{% render 'svg-reddit' %}</span>
          <span class="visually-hidden">Share on reddit</span>
        </a>
      </li>
      <li class="linkedin">
        <a class="sharing-link" target="_blank" rel="noopener" href="//linkedin.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
          <span aria-hidden="true">{% render 'svg-linkedin' %}</span>
          <span class="visually-hidden">{{ 'general.social.share_on_linkedin' | t }}</span>
        </a>
      </li>
      <li class="copylink">
        <a id="copyButton" class="sharing-link">Copy Link</button>
          <span aria-hidden="true">{% render 'svg-copylink' %}</span>
          <span class="visually-hidden">Copy Blog link</span>
        </a>
    </li>
      <li class="pinterest">
        <a class="sharing-link" target="_blank" rel="noopener" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
          <span aria-hidden="true">{% render 'svg-pinterest' %}</span>
          <span class="visually-hidden">{{ 'general.social.share_on_pinterest' | t }}</span>
        </a>
      </li>
   
      <li class="pinterest">
        <a class="sharing-link" target="_blank" rel="noopener" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
          <span aria-hidden="true">{% render 'svg-pinterest' %}</span>
          <span class="visually-hidden">{{ 'general.social.share_on_pinterest' | t }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  